*    {
    
    /* padding: 1rem; */
    box-sizing: border-box;
}

body {
    background-color: #001d3d;
    font-family: Arial;
    color: #fff;
    margin: 0; 
}

header {
    background-color: blue;
}

nav { 
    text-align: right;
    display: inline;
}
 

section {
    background-color: green;
}

main {
    background-color: purple;
}

footer {
    background-color: orange;
}