* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.col {
    flex: 1 0 0%;
    padding: 1rem;
}

body {
    background-color: #001d3d;
    font-family: Arial;
    color: #fff;
    margin: 0;
    text-align: center;
}

.nav { 
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
    background-color: #247BA0;
    color: #fff;
}

.image {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

main {
    text-align: center;
}

p {
   margin-left: 5rem;
   margin-right: 5rem;
   font-size: 20px;
}

.work {
    display: flex;
    flex-wrap: wrap;
}

.apps {
    flex: 1 1 50%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    color: #fff;
}

.app1 {
    flex: 1 1 50%;
    min-width: 400px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    text-decoration: none;
    color: #fff;
}

.app-image1 {
    max-width: 600px;
    max-height: auto;

}

.app-images {
    max-width: 300px;
    max-height: 200px;
}

footer {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}